# Ignore images and js within /assets/ as the contents of these are built from /develop/.
assets/images/**
assets/js/**
assets/vendor/**

# Ignore Vendor
develop/vendor

# Ignore Gulp node_modules (but commit the config).
gulp/node_modules/**

# Ignore languages as this is built.
languages/**

# Ignore the stylesheet, and map.
style.css
style.css.map
