# Ignore folders with output which is built.
images/**
js/**
languages/**
vendor/**

# Ignore Vendor
develop/vendor

# Ignore Gulp node_modules (but commit the config).
gulp/node_modules/**

# Ignore the stylesheet, and map.
style.css
style.css.map
