$very-small-screen:  new-breakpoint(360px);
$small-screen:       new-breakpoint(480px);
$medium-screen:      new-breakpoint(768px);
$large-screen:       new-breakpoint(1024px);
$very-large-screen:  new-breakpoint(1140px);
