fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

legend {
	margin-bottom: $small-spacing / 2;
	padding: 0;
	font-weight: 600;
}

input,
label,
select {
	display: block;
	font-family: $base-font-family;
	font-size: $base-font-size;
}

label {
	margin-bottom: $small-spacing / 2;
	font-weight: 600;

	&.required::after {
		content: "*";
	}

	abbr {
		display: none;
	}
}

#{$all-text-inputs},
select[multiple=multiple] {
	width: 100%;
	margin-bottom: $small-spacing;
	padding: $base-spacing / 3;
	transition: border-color $base-duration $base-timing;
	border: $base-border;
	border-radius: $base-border-radius;
	background-color: $base-background-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	box-shadow: $form-box-shadow;
	box-sizing: border-box;

	&:hover {
		border-color: shade($base-border-color, 20%);
	}

	&:focus {
		border-color: $action-color;
		outline: none;
		box-shadow: $form-box-shadow-focus;
	}

	&:disabled {
		background-color: shade($base-background-color, 5%);
		cursor: not-allowed;

		&:hover {
			border: $base-border;
		}
	}
}

textarea {
	resize: vertical;
}

[type="search"] {
	appearance: none;
}

[type="checkbox"],
[type="radio"] {
	display: inline;
	margin-right: $small-spacing / 2;

	+ label {
		display: inline-block;
	}
}

[type="file"] {
	width: 100%;
	margin-bottom: $small-spacing;
}

select {
	width: auto;
	max-width: 100%;
	margin-bottom: $base-spacing;
}
