input,
select,
textarea {
	display: block;
	font-family: $base-font-family;
	font-size: $base-font-size;
}

#{$all-text-inputs} {
	appearance: none;
	background-color: $form-input-background-color;
	border: $form-border;
	border-radius: $form-border-radius;
	box-shadow: $form-box-shadow;
	box-sizing: border-box;
	margin-bottom: $form-input-margin-bottom;
	padding: $form-input-padding;
	width: 100%;

	&:hover {
		border-color: $form-border-color--hover;
	}

	&:focus {
		border-color: $form-border-color--focus;
		box-shadow: $form-box-shadow-focus;
		outline: none;
	}

	&:disabled {
		background-color: $form-border-color--disabled;
		cursor: not-allowed;

		&:hover {
			border: $form-border;
		}
	}

	&::placeholder {
		color: $form-placeholder-color;
	}
}

fieldset {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

label,
legend {
	display: block;
	font-weight: $base-font-weight--bold;
	margin-bottom: $form-label-margin-bottom;
}

select {
	margin-bottom: $form-select-margin-bottom;
	width: 100%;
}

textarea {
	resize: vertical;
}

[type="checkbox"],
[type="radio"] {
	display: inline;
	margin-right: $form-radio-margin-right;
}

[type="file"] {
	margin-bottom: $form-file-margin-bottom;
	width: 100%;
}
