h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
	line-height: $heading-line-height;
	margin: 0 0 $heading-bottom-margin;
}

h1 {
	font-size: $heading-h1-size;
}

h2 {
	font-size: $heading-h2-size;
}

h3 {
	font-size: $heading-h3-size;
}

h4 {
	font-size: $heading-h4-size;
}

h5 {
	font-size: $heading-h5-size;
}

h6 {
	font-size: $heading-h6-size;
}
