table {
	border-collapse: collapse;
	margin: $table-margin;
	table-layout: fixed;
	width: 100%;
}

th {
	border-bottom: $table-th-border-bottom;
	font-weight: $base-font-weight--bold;
	padding: $table-th-padding;
	text-align: left;
}

td {
	border-bottom: $table-td-border-bottom;
	padding: $table-td-padding 0;
}

tr,
td,
th {
	vertical-align: middle;
}
