body {
	background-color: $base-background-color;
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	overflow-x: hidden;
}

p {
	margin: 0 0 $paragraph-bottom-margin;
}

a {
	color: $base-link-color;
	text-decoration: underline;

	&:active,
	&:focus,
	&:hover {
		color: shade($base-link-color, 25%);
		text-decoration: none;
	}
}

hr {
	border-bottom: $hr-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $hr-margin;
}
