.alignleft {
	display: inline;
	margin-right: $small-spacing;
	float: left;
}

.alignright {
	display: inline;
	margin-left: $small-spacing;
	float: right;
}

.aligncenter {
	display: block;
	margin: 0 auto;
	clear: both;
}
